.nav-bar-style {
    background-color: #FFFF;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid grey;
}
